*
!.gitignore
!.config
.config/*

!.config/sway
!.config/sway/config

!.config/fish
.config/fish/*
!.config/fish/config.fish

!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.yml

!.config/nvim
!.config/nvim/**
.config/nvim/plugin

!.local
.local/*
!.local/share
.local/share/*
!.local/share/fonts/
!.local/share/fonts/
